#completions {
  margin: 0;
  padding: 0;
  list-style: none;
}

#completions.showing {
  display: block;
}

#completions.hidden {
  display: none;
}

li.completion {
  height: 32px;
  margin: 0;
  padding: 4px 16px 4px 10px;
  border-top: 1px solid #eee;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

li.completion:hover {
  background-color: #fafafa;
}

li.completion.is-pending {
  background-color: #f5f5f5;
}

li.completion span.detail {
  margin: 3px 0;
  float: right;
  font-style: italic;
  font-size: 80%;
  line-height: 22px;
  color: gray;
}
