#editor {
  position: relative;
  background: white;
  box-shadow: 0 2px 3px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 2px;
  font: 16px "Roboto Mono", monospace;
}

#editor div.flexible {
  display: flex;
}

#editor div.flexible p.predicates {
  margin: 0;
  padding: 12px 0 0 10px;
  flex-grow: 0;
  white-space: nowrap;
}
