#editor-flexible {
	display: flex;
}

#editor-flexible #editor-predicates {
	flex-grow: 0;
}

#editor-flexible #editor-input {
	flex-grow: 1;
}

#editor-flexible #editor-validator {
  flex-grow: 0;
}
