#validator {
  width: 48px;
  height: 48px;
}

#validator p.info {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 16px;
  right: 48px;
  font-size: 12px;
  text-align: right;
  opacity: 0.0;
  transition: opacity 0.2s;
}

#validator.hidden p.info,
#validator.waiting p.info,
#validator.okay p.info {
  display: none;
}

#validator:hover p.info {
  opacity: 1.0;
}

#validator button {
  width: 24px;
  height: 24px;
  display: block;
  margin: 12px;
  padding: 0;
  background: #95a5a6;
  transition: background-color 0.2s;
  border-style: none;
  border-radius: 50%;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-align: center;
}

#validator button:focus {
  outline: none;
}

#validator.waiting button {
  background: #95a5a6;
}

#validator.waiting p.info {
  color: #95a5a6;
}

#validator.okay {
  cursor: pointer;
}

#validator.okay button {
  background: #2ecc71;
  cursor: pointer;
}

#validator.okay p.info {
  color: #2ecc71;
}

#validator.okay:hover button {
  background: #27ae60;
}

#validator.error button {
  background: #e74c3c;
}

#validator.error p.info {
  color: #e74c3c;
}
